<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生界面</title>
</head>
<body style="    margin: 0 auto;
text-align: center;">
    <h1>学生信息</h1>
    <div> 学生姓名: <span>{{ student.student_name }}</span></div>
    <div> 手机号: <span>{{student.phone_number}}</span></div>
    <div> 电子邮件地址:<span>{{student.email}}</span></div>
    <div> 生日: <span>{{student.birthday}}</span></div>
    <div> 学生班级: <span>{{student.student_class}}</span></div>
    <div> 描述: <span>{{student.description}}</span></div>
</body>
</html>