<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>加入小组请求：{{student.student_id}}{{student.student_name}}想要加入您的小组({{team_name}})</title>
</head>
<body>
    <h2>{{ leader.student_id}}{{leader.student_name}}，您好</h2>
    <p>
        {{student.student_id}}{{student.student_name}}想要加入您的小组({{team_name}})，
        您可以选择同意或者拒绝让其加入您的小组
    </p>
    <span>
        <form id="accept_form" method="post" action={{ accept_join }}>
          <input type="hidden" name="name" value="value" />
          <button onclick="document.getElementById('accept_form').submit();">同意加入小组</button>
        </form>
    </span>
    <span>
        <form id="accept_form" method="post" action={{ refuse_join }} >
          <input type="hidden" name="name" value="value" />
          <button onclick="document.getElementById('accept_form').submit();">拒绝加入小组</button>
        </form>
    </span>
</body>
</html>